# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/build/
/auth-des/build/
/go/src/.idea/
/auth-des/.settings/
/auth-des/.classpath
/auth-des/.project
/.settings/
/.project
/.classpath
/go/src/ee/auth/.idea/
